@import 'susy';

$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside
);

body {
  font-size: 25px;
  color: red;
}

.wrapper {
  @include container(960px);
  height: 100vh;

  .col {
    @include span(1);
    height: 100vh;
    background: gray;
    background-clip: content-box;
  }
}

nav {
  @include span(25%);
}
