@import 'susy';

// Breakpoints
$breakpoints: (
  xs: 0,
  sm: 768px,
  md: 1024px,
  lg: 1440px,
  xl: 1880px,
);

// Layouts
$layouts: (
  xs: layout(540px 12 .5 inside fluid isolate),
  sm: layout(12 static (35px 25px) inside),
  md: layout(12 static (55px 25px) inside),
  lg: layout(12 static (70px 30px) inside),
  xl: layout(12 static (110px 40px) inside)
);

// Generate the container & columns
@each $breakpoint, $value in $breakpoints {
  $mq: map-get($breakpoints, $breakpoint);
  $l: map-get($layouts, $breakpoint);

  @include susy-breakpoint($mq, $l) {
    .container {
      @include container($l);

      @if $mq != 0 {
        max-width: 100%;
      }
    }

    @for $i from 1 through 12 {
      .col-#{$i} {
        @include span($i);
      }
    }
  }
}

.testGrid {
  [class^='col-'], [class*=' col-'] {
    background: #e6e6e6;
    background-clip: content-box;
    height: 100vh;
  }
}
